# Python
__pycache__/
*.pyc

# Model files
*.h5
*.keras

# Image/Data files
*.csv
*.jpg
*.jpeg
*.png
*.webp
*.bmp

# Folder containing images (like HAM10000 or uploads)
skin_disease_data/
uploaded/

# IDE and OS files
.vscode/
.idea/
.DS_Store
